{
 "extends": ["stylelint-config-airbnb"],
 "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "number-leading-zero": "always",
    "rule-empty-line-before": ["always", { ignore: ["first-nested"] }],
    "order/order": [
        {
            "type": "at-rule",
            "name": "include"
        },
        "custom-properties",
        "declarations",
        "rules",
        {
            "type": "at-rule",
            "name": "media",
            "hasBlock": true
        },
    ],
    "order/properties-order": [
        {
            "emptyLineBefore": "never",
            "properties": [
                "content",
                "font-awesome"
            ]
        },
        {
            "emptyLineBefore": "never",
            "properties": [
                "position",
                "top",
                "right",
                "bottom",
                "left",
                "z-index"
            ]
        },
        {
            "emptyLineBefore": "never",
            "properties": [
                "flex-basis",
                "flex-grow",
                "flex-shrink",
                "flex",
                "flex-direction",
                "flex-flow",
                "flex-wrap",
                "justify-content",
                "align-content",
                "align-items",
                "align-self",
                "order"
            ]
        },
        {
            "emptyLineBefore": "never",
            "properties": [
                "box-sizing",
                "display",
                "table-layout",
                "clear",
                "float",
                "margin",
                "margin-top",
                "margin-right",
                "margin-bottom",
                "margin-left",
                "padding",
                "padding-top",
                "padding-right",
                "padding-bottom",
                "padding-left",
                "width",
                "min-width",
                "max-width",
                "height",
                "min-height",
                "max-height",
            ]
        },
        {
            "emptyLineBefore": "never",
            "properties": [
                "border",
                "border-color",
                "border-top",
                "border-right",
                "border-bottom",
                "border-left",
                "border-radius",
                "border-top-left-radius",
                "border-top-right-radius",
                "border-bottom-right-radius",
                "border-bottom-left-radius",
                "box-shadow",
            ]
        },
        {
            "emptyLineBefore": "never",
            "properties": [
                "appearance",
                "background",
                "background-attachment",
                "background-blend-mode",
                "background-color",
                "background-image",
                "background-position",
                "background-repeat",
                "background-size",
            ]
        },
        {
            "emptyLineBefore": "never",
            "properties": [
                "font-family",
                "font-size",
                "font-style",
                "font-weight",
                "letter-spacing",
                "list-style",
                "list-style-position",
                "line-height",
                "text-align",
                "text-decoration",
                "text-indent",
                "text-overflow",
                "text-transform"
            ]
        },
        {
            "emptyLineBefore": "never",
            "properties": [
                "clip",
                "color",
                "cursor",
                "fill",
                "mix-blend-mode",
                "opacity",
                "overflow",
                "overflow-x",
                "overflow-y",
                "overflow-scrolling",
                "visibility",
                "will-change"
            ]
        },
        {
            "emptyLineBefore": "never",
            "properties": [
                "animation",
                "animation-delay",
                "animation-direction",
                "animation-duration",
                "animation-fill-mode",
                "animation-iteration-count",
                "animation-name",
                "animation-play-state",
                "animation-timing-function",
                "transform",
                "transition"
            ]
        }
      ],
    }
}