.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: $color-white;
}

.main-content__title {
  font-size: 24px;
  font-family: $font-main-regular;
  color: $color-blue;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
}
