// NOTEBOOK
@mixin media-notebook {
  @media screen and (max-width: 1440px) {
    @content;
  }
}

// NETBOOK
@mixin media-netbook {
  @media screen and (max-width: 1280px) {
    @content;
  }
}

// TABLET
@mixin media-tablet {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

// MOBILE
@mixin media-mobile {
  @media (max-width: 576px) {
    @content;
  }
}

@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $font-family;
    font-style: $style;
    font-weight: $weight;
    font-display: swap;

    src: url("#{$file-path}.woff2") format("woff2"),
      url("#{$file-path}.woff") format("woff");
  }
}
