// COLOR
$color-white: #ffffff;
$color-grey: #cecece;
$color-yellow: #ecf728;
$color-gold: #f8a626;
$color-red: #dd1010;
$color-green: #507a19;
$color-blue: #3158b3;
$color-black: #000000;

// FONT
$font-main-regular: "Roboto-Regular", Arial, sans-serif;
$font-main-medium: "Roboto-Medium", Arial, sans-serif;
$font-main-bold: "Roboto-Bold", Arial, sans-serif;