// colors
$color-white: #ffffff;
$color-grey: #cecece;
$color-blue: #3158b3;
$color-black: #000000;

// main fonts
$font-main-regular: "Roboto-Regular", Arial, sans-serif;
$font-main-medium: "Roboto-Medium", Arial, sans-serif;
