extends ../../templates/index

block variables
    - var title = 'ds-webpack-starter'
    - var pageClass = 'index-page'

block content
  include ../../blocks/main-header/main-header
  include ../../blocks/main-content/main-content
  include ../../blocks/main-footer/main-footer

